html
  head
    title= title
    link(rel="icon",type="image/png",href="favicon.gif")

    script(src='leaflet/leaflet.js')
    link(rel='stylesheet',href='leaflet/leaflet.css')

    <!-- script(src='bootstrap/js/bootstrap.min.js') -->
    link(rel='stylesheet',href='bootstrap/css/bootstrap.min.css')

    script(src='scripts/main.js')
    link(rel='stylesheet',href='styles/main.css')
  body
    div(class="container-fluid")
      #main(class="row")
        #display(class="col-sm-3")
          h1.display-4 Contrôles
          
          .filtres
            h2.display-5 Types de gares
            .form-group.row

              label.col-sm-10.col-form-label(for="fret") Fret
              .col-sm-2
                input(
                  type='checkbox'
                  name='fret'
                  class='form-control form-control-sm'
                  checked
                )

              label.col-sm-10.col-form-label(for="voyageur") Voyageur
              .col-sm-2
                input(
                  type='checkbox'
                  name='voyageur'
                  class='form-control form-control-sm'
                  checked
                )
            button.btn.btn-sm.btn-primary.btn-block(onclick="selectType()") Sélectionner

          .gares
            h2.display-5 Itinéraire
            .form-group
              label(for="selectGareDepart") Gare de départ
              select#selectGareDepart.form-control
                option(value="") Sélectionner la gare
              .arrive
                label(for="selectGareArrive") Gare d'arrivée
                select#selectGareArrive.form-control
                  option(value="") Sélectionner la gare
              .algo
                label(for="selectAlgo") Algo
                select#selectAlgo.form-control
                  option(value="") Sélectionner l'algo
            button.btn.btn-sm.btn-primary.btn-block(onclick="resolveGraph()") Calculer

        #display(class="col-sm-9")
          #map
