html
  head
    title= title
    link(rel="icon",type="image/png",href="favicon.gif")

    script(src='leaflet/leaflet.js')
    link(rel='stylesheet',href='leaflet/leaflet.css')

    <!-- script(src='bootstrap/js/bootstrap.min.js') -->
    link(rel='stylesheet',href='bootstrap/css/bootstrap.min.css')

    script(src='scripts/main.js')
    link(rel='stylesheet',href='styles/main.css')
  body
    div(class="container-fluid")
      #main(class="row")
        #control.mb-3.col-sm-2
          .filtres.card.mb-2.box-shadow.border-primary
            .card-header.text-center
              h2.display-5 Types de gares
            .card-body.p-1
              ul.list-group.list-group-flush
                li.list-group-item
                  input.mr-2(
                    type='checkbox'
                    name='fret'
                    checked
                  )
                  label(for="fret") Fret
                li.list-group-item
                  input.mr-2(
                    type='checkbox'
                    name='voyageur'
                    checked
                  )
                  label(for="voyageur") Voyageur
            button.btn.btn-primary.btn-block(onclick="selectType()") Sélectionner

          .gares.card.mb-2.box-shadow.border-primary
            .card-header.text-center
              h2.display-5 Itinéraire
            .card-body.p-2
              label(for="selectGareDepart") Gare de départ
              select#selectGareDepart.form-control(onchange="marquerGare(this.value, 'depart')")
                option(value="") Sélectionner la gare
              .arrive
                label(for="selectGareArrive") Gare d'arrivée
                select#selectGareArrive.form-control(onchange="marquerGare(this.value, 'arrive')")
                  option(value="") Sélectionner la gare
              .algo
                label(for="selectAlgo") Algo
                select#selectAlgo.form-control
                  option(value="astar") A*
                  option(value="dikjstra") Dikjstra
            button.btn.btn-primary.btn-block(onclick="resolveGraph()") Calculer
            
            
        #display(class="col-sm-8")
          #map
            
        #infos(class="col-sm-2")
          .row
            .infos.col-sm-12
              .card.mb-2.box-shadow.border-info
                .card-header.text-center
                  h2.display-5 Infos
                .card-body.p-0.pt-2
                  h4.card-title.text-center Graphe
                  table.table.table-hover.table-sm
                    tbody
                      tr
                        td Nombre de gares
                        td#countGares -
                      tr
                        td Nombre de liens
                        td#countLiens -
                  h4.card-title.text-center Résolution
                  table.table.table-hover.table-sm
                    tbody
                      tr
                        td Possible
                        td#isPossible -
                      tr
                        td Départ
                        td#gareDepart -
                      tr
                        td Arrivée
                        td#gareArrive -
                      tr
                        td Distance
                        td#distance -
                      tr
                        td Poid total
                        td#poidTotal -
                      tr
                        td Algorithme
                        td#resolveAlgo -
                      tr
                        td Temps de calcul
                        td#tempsCalcul -
            .legende.col-sm-12
              .card.mb-2.box-shadow.border-info
                .card-header.text-center
                  h2.display-5 Légende
            .a-propos.col-sm-12
              .card.mb-2.box-shadow.border-info
                .card-header.text-center
                  h2.display-5 A Propos
                .card-body.p-2
                  p.card-text Fait avec ❤ par Antoine Perrin 👑 et Matthieu Cayet 👑 dans le cadre de leur formation Ingénieur Informatique en alternance à l'école Polytech de Lyon. 👌
